<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <header>
      <h1> Benjamin M. Barr </h1>
      <h2> Aspiring Mathematician and Educator </h2>
    </header>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer>
      <p> Copyright Benjamin M. Barr </p>
    </footer>

    {%- include footer.html -%}

  </body>

</html>
