<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <header>
      <h1> Benjamin M. Barr </h1>
      <h2> Aspiring Mathematician and Educator </h2>
    </header>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer>
      <p> Copyright 2020 Benjamin M. Barr </p>
      <p> E: <a href="mailto:barr20@purdue.edu">barr20@purdue.edu</a> </p>
      <p> M: (812) 363-5492</p>
      <p> SOCIAL MEDIA INFO HERE</p>
    </footer>

    {%- include footer.html -%}

  </body>

</html>
